<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/{{ skin }}_style.css" />
  <link rel="shortcut icon" href="/static/pyevemon.ico" type="image/x-icon" />
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>

<div id="header" align="center">
  <img src="/static/pyevemon.png" style="vertical-align: middle" />
  <span>pyevemon</span>
</div>

<hr />

<div id="content">
{% block content %}{% endblock %}
</div>

</body>
</html>